<!doctype html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <title>Shasta Bike Map</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <!-- build:css styles/vendor.css -->
    <link rel="stylesheet" href="./lib/styles/leaflet.css">
    <!-- bower:css -->
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./bower_components/sidr/dist/stylesheets/jquery.sidr.light.min.css">
    <link rel="stylesheet" href="./bower_components/Leaflet.Elevation/dist/Leaflet.Elevation-0.0.2.css">
    <link rel="stylesheet" href="./bower_components/Leaflet.EasyButton/src/easy-button.css">
    <link rel="stylesheet" href="./bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="./bower_components/jquery-comments/css/jquery-comments.css">

    <!-- endbower -->
    <!-- bower:js -->
    <script src="./bower_components/jquery/dist/jquery.js"></script>
    <script src="./bower_components/firebase/firebase.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <link rel="stylesheet" href="./lib/styles/Leaflet.Photo.css">
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="./styles/main.css">
    <!-- endbuild -->
    <link rel="shortcut icon" href="/favicon.ico">

</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Mount Shasta Bike Trails</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" class="trail-menu-button-nav text-center">All Trails</a>
                </li>
                <li>
                    <a href="#myModal" role="button" class="text-center" data-toggle="modal">Contact</a>
                </li>
                <li>
                    <a style="display:none" href="#loginPassword" class="login-link text-center" role="button" data-toggle="modal">Login</a>
                    <a style="display: none" class='logout-link text-center' role="button">Logout</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

{{{body}}}


<!-- Modal -->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Contact Form</h4>
            </div>
            <div class="modal-body">
                <form id="contactForm" class="form-horizontal" name="commentform" method="post">
                    <div class="form-group">
                        <label class="control-label col-md-4" for="first_name">First Name</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4" for="last_name">Last Name</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4" for="email">Email Address</label>
                        <div class="col-md-6 input-group">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email Address"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4" for="comment">Question or Comment</label>
                        <div class="col-md-6">
                            <textarea rows="6" class="form-control" id="comments" name="comments" placeholder="Your question or comment here"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <button type="submit" value="Submit" class="btn btn-custom pull-right">Send</button>
                        </div>
                    </div>
                </form>
            </div><!-- End of Modal body -->
        </div><!-- End of Modal content -->
    </div><!-- End of Modal dialog -->
</div><!-- End of Modal -->


<!-- Modal -->
<div id="loginPassword" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Login</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="loginform" id="loginform" action="login(this)">
                    <div class="form-group">
                        <label class="control-label col-md-4" for="email">Email</label>
                        <div class="col-md-6">
                            <input type="email" class="form-control" id="email-login" name="email" placeholder="email"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4" for="password">Password</label>
                        <div class="col-md-6">
                            <input type="password" class="form-control" id="password-login" name="password" placeholder="Password"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <button type="submit" id="login-button" class="btn btn-success pull-right">Submit</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-center"><b> - OR -</b></div>
                        <div class="col-xs-12 text-center"><button id="facebook-login" style="margin-top: 15px;background-color: transparent;border: none;"><img src="http://i.stack.imgur.com/LKMP7.png" alt=""/></button></div>
                    </div>
                </form>

            </div><!-- End of Modal body -->
        </div><!-- End of Modal content -->
    </div><!-- End of Modal dialog -->
</div><!-- End of Modal -->



<div id="sidr">
    <div class="sidr-close-button"><span class="fa fa-close"></span> Close</div>
    <ul id="trail-menu-list">
            <span class="services-divider">Local Bike Shops</span>
            <li class="service menu-item" data-service="fifthseason">Fifth Season Sports<span class="fa fa-plus menu-more-less"></span><a href="http://thefifthseason.com/" target="_blank">Website</a></li>
            <li class="service menu-item" data-service="shastabasecamp">Shasta Base Camp<span class="fa fa-plus menu-more-less"></span><a href="http://www.shastabasecamp.com/" target="_blank">Website</a></li>
            <li class="service menu-item" data-service="bikeshop">The Bike shop<span class="fa fa-plus menu-more-less"></span><a href="http://www.yelp.com/biz/the-bike-store-mount-shasta" target="_blank">Website</a></li>
    </ul>
</div>




<script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.2.0/leaflet-omnivore.min.js'></script>

<!-- build:js scripts/vendor.js -->
<script src="./lib/scripts/leaflet.js"></script>
<!-- bower:js -->
<script src="./bower_components/jquery/dist/jquery.js"></script>
<script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="./bower_components/sidr/dist/jquery.sidr.min.js"></script>
<script src="./bower_components/Leaflet.Elevation/dist/Leaflet.Elevation-0.0.2.src.js"></script>
<script src="./bower_components/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
<script src="./bower_components/Leaflet.EasyButton/src/easy-button.js"></script>
<script src="./bower_components/bootbox.js/bootbox.js"></script>
<script src="./bower_components/jquery.cookie/jquery.cookie.js"></script>

<script src="./bower_components/jquery-comments/js/jquery-comments.js"></script>

<script src="./lib/loading.js"></script>
<!-- endbower -->
<!-- endbuild -->
<script src="./lib/scripts/Leaflet.Photo.js"></script>
<!-- build:js scripts/main.js -->
<script src="./scripts/main.js"></script>
<script src="./scripts/GeoLocation.js"></script>
<!-- endbuild -->
</body>
</html>
