<div class="container map-container">
    <div class="row">
        <div class="col-xs-10">
            <div class="map-application">
                <div id="map" class="map"></div>
                <div class="wrapper geolocate-button">
                    <span class="fa fa-crosshairs geolocate-symbol"></span>
                    <a href="#" title="Track Location">  Track Location:<span class="geolocate-status">Off</span></a>
                </div>
                <div class="wrapper trail-menu-button">
                    <span class="fa fa-bars"></span>
                    <a href="#" title="Open Trail Menu"> Trail Menu</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="sidr">
        <div class="sidr-close-button"><span class="fa fa-close"></span> Close</div>
    <ul id="trail-menu-list"></ul>
</div>


<!-- Modal -->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Contact Form</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="commentform" method="post" action="send_form_email.php">
                    <div class="form-group">
                        <label class="control-label col-md-4" for="first_name">First Name</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4" for="last_name">Last Name</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4" for="email">Email Address</label>
                        <div class="col-md-6 input-group">
                            <span class="input-group-addon">@</span>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email Address"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4" for="comment">Question or Comment</label>
                        <div class="col-md-6">
                            <textarea rows="6" class="form-control" id="comments" name="comments" placeholder="Your question or comment here"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <button type="submit" value="Submit" class="btn btn-custom pull-right">Send</button>
                        </div>
                    </div>
                </form>
            </div><!-- End of Modal body -->
        </div><!-- End of Modal content -->
    </div><!-- End of Modal dialog -->
</div><!-- End of Modal -->
