<div class="container map-container">
    <div class="row">
        <div class="col-xs-10">
            <div class="map-application">
                <div id="map" class="map"></div>
                <div class="wrapper geolocate-button">
                    <span class="fa fa-crosshairs geolocate-symbol"></span>
                    <a href="#" title="Track Location">  Track Location:<span class="geolocate-status">Off</span></a>
                </div>
                <div class="wrapper trail-menu-button">
                    <span class="fa fa-bars"></span>
                    <a href="#" title="Open Trail Menu"> Trail Menu</a>
                </div>
            </div>
        </div>
    </div>
</div>

