<style>
    #back-to-map {
        font-size: 2em;
        margin-bottom: 1em;
    }
    .rating {
        color: #FFDF00;
        font-size: 1.7em;
    }
</style>
<div class="container">
    <div class="row">
        <div id="back-to-map" class="col-xs-12">
            <a href="/" class="btn btn-primary"><span class="fa fa-arrow-left"></span> Back to map</a>
        </div>
    </div>
</div>
<div class="container map-container single">
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="map-application">
                <div id="map" class="map"></div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8">
            <h1>Gateway Trail</h1>
            <div class="rating">
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star-half"></span>
            </div>
            <div class="description">
                <p>
                    <b>Trail Difficulty:</b> Blue, Intermediate (with difficult sections)
                    <br/>
                    <b>Trail Length:</b> 6.8 miles with access to interior stacked loops for additional 3.4 miles of intermediate to difficult trail
                    <br/>
                    <b>Trail Description:</b> The Gateway Trail is a 10 mile multi-use cross country trail network with constant elevation changes, flowing turns, and short sections of steep descents or climbs. The trail starts at 3,943 feet and climbs to a highpoint of 4,375 feet. Despite only a 450 foot difference in elevation between the trailhead and maximum elevation, riders will be physically challenged by constant rollers, steep bursts, and never ending turns. The trail—located entirely on Forest Service land—winds through a ponderosa pine forest and provides spectacular views of Mount Shasta, Mount Eddy, and Black Butte. Trails are well marked and the many forest service roads in the area provide alternate routes.
                    <br/>
                    <b>Trailhead:</b>
                    Parking lot located 1.5 miles from the City of Mount Shasta on the right side of Everett Memorial Highway (.9 of a mile past Mount Shasta High School).
                </p>
            </div>
        </div>
    </div>
</div>

