<style>

</style>
<div class="container">
    <div class="row">
        <div id="back-to-map" class="col-xs-12">
            <a href="/" class="btn btn-primary"><span class="fa fa-arrow-left"></span> Back to map</a>
        </div>
    </div>
</div>
<div class="container map-container single">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="map-application">
                <div id="map" class="map"></div>
                <div class="wrapper enable-pan-button">
                    <span class="fa fa-arrows"></span>
                    <a href="#" title="Enable Map Panning"> Enable Panning</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8 trail-details-container">
            {{> trail-details}}
        </div>
        <div class="col-xs-12 " style="height: 170px">
            <h3 style="margin-bottom: 0">Elevation Profile</h3><span>Hover to show location on map</span>
            <div id="elevation-div"></div>
        </div>

    </div>
</div>
<div class="container">
    <div class="col-xs-12 col-sm-4">
<!--//facebook login button goes here   -->
    </div>
    <div class="col-xs-12">
        <div id="comments-container"></div>
    </div>
</div>
<script src="/app/scripts/comments.js"></script>
<script>
    $(document).on('ready', function() {
        GeoLocation(mapModule.init, $, window);

        $('#elevation-div').find('.elevation').addClass('leaflet-control');
        $('#loginform').submit(function (e) {
            e.preventDefault();
            commentModule.login();
        });
        $('#facebook-login').on('click',function(e){
            e.preventDefault();
            commentModule.login("facebook");
        });
        $('.logout-link').on('click', function(e){
            e.preventDefault();
            commentModule.logout();
        });
        $('#loginPassword').on('hidden.bs.modal', function () {
            $(this).find('.bg-danger').remove();
        });
        $('.enable-pan-button').on('click', function(){
            if($(this).hasClass('active')) {
//                $(this).children(a).text("Disable Panning")
                mapModule.map.dragging.disable();
                mapModule.map.touchZoom.disable();
                mapModule.map.doubleClickZoom.disable();
                mapModule.map.scrollWheelZoom.disable();
                mapModule.map.keyboard.disable();
            } else {
//                $(this).children(a).text("Enable Panning");
                mapModule.map.dragging.enable();
                mapModule.map.touchZoom.enable();
                mapModule.map.doubleClickZoom.enable();
                mapModule.map.scrollWheelZoom.enable();
                mapModule.map.keyboard.enable();
            }
            $(this).toggleClass('active');
        });

        commentModule.firebaseRef.onAuth(function(authData) {
            commentModule.checkLogin();
            commentModule.retrieveComments(commentModule.initComments);
        });
    });




</script>
