<div class="container map-container single">
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="map-application">
                <div id="map" class="map"></div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8">
            <h1>Gateway trail</h1>
        </div>
    </div>
</div>